## COLUMN OPERATIONS

### SALES DATA - YEARLY SALES DATA CUSTOMER WISE

#### Sales data arranged in a manner which gives daily, monthly, and yearly insight of different products ordered by the customers. It also contains the demographics of the customers including (Country, State, Age etc.)

In [2]:
import pandas as pd

####  The pandas library is imported as pd for column operations.

In [3]:
sample = pd.read_csv("C://Users//indhu//OneDrive//Documents//datasets_python//sales_data.csv")

#### Using read_csv function, sales dataset is read from the location.

In [4]:
sample

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

#### This dataset is downloaded from the kaggle.com

In [5]:
sample['Unit_Profit'] = sample['Unit_Price'] + sample['Unit_Cost']
sample

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Unit_Profit
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,165
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,165
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,165
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,165
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184,88
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,88
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,88
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260,88
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207,88

#### The new variable 'Unit_Profit' is derived .

In [9]:
sample.rename(columns={'Revenue':'Sales'})

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Sales,Unit_Profit
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,165
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,165
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,165
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,165
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184,88
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,88
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,88
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260,88
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207,88

#### Here, the variable name 'Revenue' is renamed as 'Sales'.

In [10]:
sample.rename(columns={'Customer_Age':'Age', 'Customer_Gender':'Gender'})

,Date,Day,Month,Year,Age,Age_Group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Unit_Profit
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,165
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,165
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,165
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,165
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184,88
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,88
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,88
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260,88
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207,88

#### Two variables names namely, 'Customer_Age' and  'Customer_Gender' has been renamed as Age and Gender.

In [11]:
sample.drop(['Unit_Cost' , 'Unit_Profit'],axis=1)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,64,655,552,1207

#### The variable 'Unit_Cost' and 'Unit_Profit' has been dropped from the dataset.

In [26]:
sample.drop('Unit_Price',axis=1, inplace=True)

In [28]:
sample

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,655,552,1207

#### The Unit_Price variable has been removed.

In [12]:
sample.columns= [col.upper()for col in sample.columns]
sample.columns

Index(['DATE', 'DAY', 'MONTH', 'YEAR', 'CUSTOMER_AGE', 'AGE_GROUP',
       'CUSTOMER_GENDER', 'COUNTRY', 'STATE', 'PRODUCT_CATEGORY',
       'SUB_CATEGORY', 'PRODUCT', 'ORDER_QUANTITY', 'UNIT_COST', 'UNIT_PRICE',
       'PROFIT', 'COST', 'REVENUE', 'UNIT_PROFIT'],
      dtype='object')

#### The variable names has been converted to upper case.

In [13]:
sample.columns=[col.lower() for col in sample.columns]
sample.columns

Index(['date', 'day', 'month', 'year', 'customer_age', 'age_group',
       'customer_gender', 'country', 'state', 'product_category',
       'sub_category', 'product', 'order_quantity', 'unit_cost', 'unit_price',
       'profit', 'cost', 'revenue', 'unit_profit'],
      dtype='object')

#### The variable names has been changed to lower case.

In [19]:
sample.sort_values(by= ['Customer_Age', 'Product'], ascending= [True,True])

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
16948,2014-04-20,20,April,2014,17,Youth (<25),F,Canada,British Columbia,Clothing,Caps,AWC Logo Cap,15,7,9,29,105,134
16949,2016-04-20,20,April,2016,17,Youth (<25),F,Canada,British Columbia,Clothing,Caps,AWC Logo Cap,17,7,9,32,119,151
17072,2013-12-04,4,December,2013,17,Youth (<25),F,France,Seine Saint Denis,Clothing,Caps,AWC Logo Cap,16,7,9,6,112,118
17073,2015-12-04,4,December,2015,17,Youth (<25),F,France,Seine Saint Denis,Clothing,Caps,AWC Logo Cap,13,7,9,5,91,96
17448,2014-07-14,14,July,2014,17,Youth (<25),M,France,Val d'Oise,Clothing,Caps,AWC Logo Cap,12,7,9,1,84,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2016-02-19,19,February,2016,87,Seniors (64+),F,Germany,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,3,45,120,160,135,295
78876,2014-02-19,19,February,2014,87,Seniors (64+),F,Germany,Saarland,Accessories,Tires and Tubes,Patch Kit/8 Patches,15,1,2,10,15,25
78877,2014-02-19,19,February,2014,87,Seniors (64+),F,Germany,Saarland,Accessories,Tires and Tubes,Patch Kit/8 Patches,6,1,2,4,6,10
78878,2016-02-19,19,February,2016,87,Seniors (64+),F,Germany,Saarland,Accessories,Tires and Tubes,Patch Kit/8 Patches,12,1,2,8,12,20
78879,2016-02-19,19,February,2016,87,Seniors (64+),F,Germany,Saarland,Accessories,Tires and Tubes,Patch Kit/8 Patches,3,1,2,2,3,5

#### The observations has been sorted based on the customer age and the product.

In [5]:
sample.groupby('Country').count()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Country,,,,,,,,,,,,,,,,,
Australia,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936
Canada,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178
France,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998
Germany,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098
United Kingdom,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620
United States,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206

#### The observations are grouped based on country.

In [32]:
print(sample['Product_Category'].isnull().sum())

0

#### There is no missing values in the Product_Category variable column.

In [33]:
print(len(sample.columns.values))

17

#### 17 variables present in the dataset.

In [34]:
print(sample.columns)

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Profit',
       'Cost', 'Revenue'],
      dtype='object')

#### The variable names of the dataset.